.etiquetas-container {
    text-align: center;
  }
  
  .quadrado {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
    margin-left: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10px;
  }
  
  .etiquetas-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  .etiquetas-table th,
  .etiquetas-table td {
    padding: 15px;
    border: 1px solid #ddd;
  }
  
  .etiqueta-item {
    background-color: #ffffff;
  }
  
  .etiqueta-item:nth-child(even) {
    background-color: #f2f2f2;
  }